<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Científica</title>
</head>
<body>
    <h2>Calculadora Científica</h2>
    <h4>Funções</h4>
    <dl>
    <dt>Soma</dt>
    <dd>Some dois valores com a seguinte URL: /soma?valor1={}&valor2={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Subtração</dt>
    <dd>Subtraia dois valores com a seguinte URL: /subtrai?valor1={}&valor2={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Divisão</dt>
    <dd>Divida dois valores com a seguinte URL: /divide?valor1={}&valor2={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Muliplicação</dt>
    <dd>Multiplique dois valores com a seguinte URL: /multiplique?valor1={}&valor2={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Potência</dt>
    <dd>Eleve x à potência de y com a seguinte URL: /eleva?valor1={}&valor2={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Raiz Quadrada</dt>
    <dd>Obtenha a raiz quadrada de um número na seguinte URL: /raiz?valor={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Fatorial</dt>
    <dd>Obtenha o fatorial de um número na seguinte URL: /fatorial?valor1={}&valor2={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Log - qualquer base</dt>
    <dd>Obtenha o log de x na base y na seguinte URL: /log?valor1={}&valor2={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Seno</dt>
    <dd>Obtenha o seno do ângulo x na seguinte URL: /seno?valor={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Cosseno</dt>
    <dd>Obtenha o cosseno do ângulo x na seguinte URL: /cos?valor={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    <dt>Tangente</dt>
    <dd>Obtenha a tangente do ângulo x na seguinte URL: /tan?valor={} -> Tire os {} e coloque o valor do cálculo</dd>
    <br>
    </dl>
</body>
</html>